.blogpost-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #101818;
  color: white;
  border-radius: 12px;
}

.blogpost-title {
  font-size: 2.5rem;
  color: #F96610;
  margin-bottom: 1rem;
}

.blogpost-date {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 1.5rem;
}

.blogpost-content {
  font-size: 1.2rem;
  line-height: 1.6;
}