
.games-container {
  background-color: #101818;
  min-height: 52vh;
  max-height: 100vh ;
  width: auto;/* pełna wysokość widoku */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  
}
.games-container {
  animation: fade 0.5s ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
  transform: translateY(10px);
}
@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.games-container h2 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: -5rem;
}
.slogan {
  font-family: 'Times New Roman', Times, serif;
}
.TOL {
  background-color: #F96610;
}
.countdown-container {
  animation: fade 0.5s ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
  transform: translateY(10px);
}
@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Wersja Mobilna --- */
@media (max-width: 768px) {
  .games-container {
    padding-top: 100px;
  }
  
  .games-container h2 {
    margin-bottom: 0;
  }
  
  .TOL {
    width: 90%; /* Obrazek tytułu gry dopasowany do ekranu */
    height: auto;
  }
  .countdown-container {
    padding: 20px 10px; /* Mniejsze odstępy */
    min-height: auto;   /* Zmniejszamy wysokość sekcji */
  }

  .countdown-title {
    font-size: 2rem; /* Zmniejszamy tytuł (z 5rem na 2rem) */
    margin-bottom: 0.5rem;
  }

  .countdown {
    font-size: 1.5rem;   /* Zmniejszamy licznik (z 4rem na 1.5rem) */
    white-space: nowrap; /* ZABRANIA łamania linii - trzyma wszystko w jednym wierszu */
          /* Pewność, że kontener jest szeroki */
  }
}
