
/* Wysokość całego dokumentu */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #101818;
}

/* Zmienne i ogólne ustawienia czcionki */
:root {
  font-family: Arial, sans-serif, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color:  #101818;
  background-color:  #101818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styl linków */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Styl całego body */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  
}

/* Nagłówki */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Styl przycisków */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  
  cursor: pointer;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Motyw jasny (jeśli ustawiony) */
@media (prefers-color-scheme: light) {
  :root {
    color:  #101818;
    background-color:  #101818;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


body::-webkit-scrollbar {
  width: 0px;
  transition: width 0.3s ease;
}

body.scrolling::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #101818;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

body.scrolling::-webkit-scrollbar-thumb {
  background-color: rgba(249, 102, 16, 1);
}

body::-webkit-scrollbar-track {
  background-color: #101818;

}
@media (max-width: 768px) {
html, body {
  overflow-x: hidden; /* To jest kluczowe */
  width: 100%;
  position: relative;
}
}