.navbar {
  background-color: #101818;
  padding: 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} 
.navbar ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.navbar li a:hover {
  color: #F96610;
}

.navbar-logo {
  height: 80px; 
  margin-top: -2rem;
}

.navbar-left {
  position: absolute;
  left: 30px;
  display: flex;
  align-items: center;
}
.navbar-right {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  margin-top: -1.5rem;
  
}
.navbar-social {
  height: 30px;
  margin-top: -1rem;
}

/* --- Wersja Mobilna (działa tylko na telefonach) --- */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
  }

  .navbar-left, .navbar-right {
    position: static; /* Wyłącza "przyklejenie" logo i ikon, żeby ułożyły się w stos */
    margin: 10px 0;
  }

  .navbar-logo {
    height: 60px; /* Nieco mniejsze logo */
    margin-top: 0;
  }

  .navbar-center ul {
    flex-direction: column; /* Menu pionowe zamiast poziomego */
    gap: 15px;
    padding: 0;
  }
  
  .navbar li a {
    font-size: 1.2rem; /* Większe napisy w menu, łatwiejsze do kliknięcia */
  }
}