.navbar {
  background-color: #101818;
  padding: 30px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} 
.navbar ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.navbar li a:hover {
  color: #F96610;
}

.navbar-logo {
  height: 80px; 
  margin-top: -2rem;
}

.navbar-left {
  position: absolute;
  left: 30px;
  display: flex;
  align-items: center;
}
.navbar-right {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  margin-top: -1.5rem;
  
}
.navbar-social {
  height: 30px;
  margin-top: -1rem;
}
